@import "blueprint/reset";
@import "compass/utilities";

@mixin content-header {
  font-weight: bold;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 120%;
  text-align: right;
}

@mixin content-outer-frame {
  @include float-left;
  margin-left: 20px;
}

@mixin content-inner-frame {
  padding: 20px;      
  border: 1px dashed gray;
}

#container {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#header {	
	width: 100%;
	margin: 10px;

	font-family: serif;
	font-size: 50px;
	font-style: italic;
	text-align: center;
	
	padding-bottom: 20px;
	border-bottom: 2px solid grey;
}

#content {
  font-family: Arial;
  font-size: 90%;
  .iheader { @include content-header; }
  
  #css_form {
    @include content-outer-frame;
    width: 400px;
    .iform {      
      @include content-inner-frame;
      ul { 
        @include no-bullets; 
        width: 100%;
      }
      
      label { font-weight: bold; }
      .itext, .itextarea { width: 100%; margin-bottom: 15px; }
      .itextarea { height: 200px; }
      .ibutton { 
        margin-left: 25%; margin-right: 25%;
        margin-top: 20px;
        width: 50%; 
        border: 0;
        height: 40px;
        font-size: 150%;
        background-color: #FE872A;
        font-color: #FFFFFF;
      }
      .ibutton:hover {
        background-color: #EF9651;
        font-color: #000000;
      }
    }
  } // #css_form ends
  
  #scss {  
    @include content-outer-frame;    
    border-left: 2px solid grey;
    padding-left: 20px;
    width: 480px;
    
    #scss_code {
      @include content-inner-frame;
      font-family: "Courier New";      
      min-height: 400px;      
      overflow: auto;
    }
  } // #scss ends

}
