/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 22, sass/custom.scss */
#container {
  font-family: Arial;
  font-size: 90%;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

/* line 30, sass/custom.scss */
#header {
  width: 100%;
  margin: 10px;
  font-family: serif;
  font-size: 50px;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid grey;
}
/* line 42, sass/custom.scss */
#header #donate {
  display: inline;
  float: right;
}

/* line 47, sass/custom.scss */
#footer {
  display: inline;
  float: left;
  margin-top: 20px;
  border-top: 2px solid grey;
  padding: 10px;
  width: 100%;
  text-align: center;
}

/* line 57, sass/custom.scss */
#content .iheader {
  font-weight: bold;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 120%;
  text-align: right;
}
/* line 59, sass/custom.scss */
#content #css_form {
  display: inline;
  float: left;
  margin-left: 20px;
  width: 400px;
}
/* line 62, sass/custom.scss */
#content #css_form .iform {
  padding: 20px;
  border: 1px dashed gray;
}
/* line 64, sass/custom.scss */
#content #css_form .iform ul {
  list-style: none;
  width: 100%;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#content #css_form .iform ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 69, sass/custom.scss */
#content #css_form .iform label {
  font-weight: bold;
}
/* line 70, sass/custom.scss */
#content #css_form .iform .itext, #content #css_form .iform .itextarea {
  width: 100%;
  margin-bottom: 15px;
}
/* line 71, sass/custom.scss */
#content #css_form .iform .itextarea {
  height: 200px;
}
/* line 72, sass/custom.scss */
#content #css_form .iform .ibutton {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  width: 50%;
  border: 0;
  height: 40px;
  font-size: 150%;
  background-color: #FE872A;
  font-color: #FFFFFF;
}
/* line 82, sass/custom.scss */
#content #css_form .iform .ibutton:hover {
  background-color: #EF9651;
  font-color: #000000;
}
/* line 89, sass/custom.scss */
#content #scss {
  display: inline;
  float: left;
  margin-left: 20px;
  border-left: 2px solid grey;
  padding-left: 20px;
  width: 480px;
}
/* line 95, sass/custom.scss */
#content #scss #scss_code {
  padding: 20px;
  border: 1px dashed gray;
  font-family: "Courier New";
  min-height: 400px;
  overflow: auto;
}
