<div id="content">

  <div id="css_form">
    <div class="iheader">Lessify your CSS</div>
    <%= form_tag "", :method => 'post', :class => 'iform' %>
    <ul>
      <li>
        <label for="URL">URL</label><br/>
        <input class="itext" type="text" name="url" id="url" /><br/>
      </li>
      <li>
        <label for="CSS">CSS</label><br/>
        <textarea class="itextarea" name="css" id="css"></textarea><br/>
      </li>
      <li>
        <label>Print Declarations: </label>
        <input type="radio" name="print_declarations" value="yes" checked>Yes </input>
        <input type="radio" name="print_declarations" value="no">No </input>
        <br/>
      </li>
      <li>
        <input type="submit" class="ibutton" id="lessify" value="Lessify!" /><br/>
      </li>
    </ul>
  </form>
  </div>
  
  <div id="scss">
    <div class="iheader">SCSS</div>
    <%= yield %>
  </div>


</div>
